/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/nbproject/private/
/public_html/app/img/user_images/
/public/img/user_images/img/
/public/img/user_images/
/public_html/sphellar/img/user_images/
/public_html/guia/img/user_images/