

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.published{
    border: 1px solid #3c763d;
    box-shadow: 0 1px 3px rgba(60, 118, 61, 0.6);
}

.not-published{
    border: 1px solid #a94442;
    box-shadow: 0 1px 3px rgba(169, 68, 66, 0.6);
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}


.imagepreview{
    background-size: cover;
    background: no-repeat center center;
    width:100%;
    padding-top: 50%;
    padding-bottom: 50%;
    border:1px solid #f63348;
    
}

#imagepreview{
    padding-top: 25%;
    padding-bottom: 25%;
}

.listas{
    overflow: auto;
    max-height: 300px;    
}





.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }
 
#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}