

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.published{
    border: 1px solid #3c763d;
    box-shadow: 0 1px 3px rgba(60, 118, 61, 0.6);
}

.not-published{
    border: 1px solid #a94442;
    box-shadow: 0 1px 3px rgba(169, 68, 66, 0.6);
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}


.imagepreview{
    background-size: cover;
    background: no-repeat center center;
    width:100%;
    padding-top: 50%;
    padding-bottom: 50%;
    border:1px solid #f63348;
    
}

.profile_image{
    padding-top: 10%;    
    padding-bottom: 10%;
    
}

.listas{
    overflow: auto;
    max-height: 300px;    
}




